@font-face {
  font-family: exzellenz;
  src: url(/fonts/exzellenz.ttf);
}

.header-nav-link, .collapsible-header {
    font-family: "Roboto Mono";
}

.brand-logo {
    font-family: "exzellenz";
    top: 0.15em;
}

.exzellenz-text {
    font-family: "exzellenz";
    font-size: 1.1rem;
}

.header {
    font-family: "Roboto Slab";
}

.text-body, .collapsible-body {
    font-family: "Roboto";
}

.card {
	border-radius: 4px;
}

.text-preview-canvas {
	max-height: 40vh;
}

.text-preview-text {
	font-family: exzellenz;
	fill: #1565c0;
}

