@import url(fonts.css);

.header-nav-link, .collapsible-header {
    font-family: "Roboto Mono", monospace;
}

.brand-logo {
    font-family: Exzellenz, sans-serif;
    top: 0.15em;
}

.exzellenz-text {
    font-family: Exzellenz, sans-serif;
    font-size: 1.1rem;
}

.header {
    font-family: "Roboto Slab", serif;
}

.text-body, .collapsible-body {
    font-family: "Roboto", sans-serif;
}

.card {
	border-radius: 4px;
}

.text-preview-canvas {
	max-height: 40vh;
}

.text-preview-text {
	font-family: Exzellenz, sans-serif;
	fill: #1565c0;
}

