
@font-face {
  font-family: Exzellenz;
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/exzellenz/exzellenz.woff2) format('woff2'),
       url(../fonts/exzellenz/exzellenz.woff) format('woff'),
       url(../fonts/exzellenz/exzellenz.ttf) format('ttf');
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material_symbols/material_symbols_outlined.woff2) format('woff2'),
       url(../fonts/material_symbols/material_symbols_outlined.woff) format('woff'),
       url(../fonts/material_symbols/material_symbols_outlined.ttf) format('ttf');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto/roboto.woff2) format('woff2'),
       url(../fonts/roboto/roboto.woff) format('woff'),
       url(../fonts/roboto/roboto.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto/roboto_mono.woff2) format('woff2'),
       url(../fonts/roboto/roboto_mono.woff) format('woff'),
       url(../fonts/roboto/roboto_mono.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/roboto/roboto_slab.woff2) format('woff2'),
       url(../fonts/roboto/roboto_slab.woff) format('woff'),
       url(../fonts/roboto/roboto_slab.ttf) format('ttf');
}
