@font-face {
  font-family: exzellenz;
  src: url(fonts/exzellenz.ttf);
}

.header-nav-link, .collapsible-header {
    font-family: "Roboto Mono";
}

.brand-logo {
    font-family: "exzellenz";
    top: 0.15em;
}

.header {
    font-family: "Roboto Slab";
}

.text-body, .collapsible-body {
    font-family: "Roboto";
}

#output-container {
	height: 200%;
}
